#slider{
    background-color: white;
    height: 30%;
    padding-left: 9%;
}

/*
#img_one_active, #img_two_active, #img_three_active{
    color: red;
}

#img_one, #img_two, #img_three{
    color: blue;
    font-size: 43pt;
}
*/
